<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" type="text/css" href="../css/acceuil.css"/>
</head>
<body>
<div class="masthead">
    <h1>
        <img src="../img/TheLordsTournament.png" border="0">
    </h1>

    <ol class="absolute" class="container">
        <form>
            <button type="submit" formaction="./views/lobby.html" class="buttonstart">
            </button>
        </form>
        <form>
            <button type="submit" formaction="https://www.chess.com/fr/apprendre-a-jouer-aux-echecs"
                    class="buttonregles">
            </button>
        </form>
        <form>
            <button type="submit"
                    formaction="./views/lien-rapport.html"
                    class="buttonrapport">
            </button>
        </form>
    </ol>
    <audio src="../audios/acceuil.mp3" autoplay loop></audio>
</div>
