<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Acceuil</title>
        <link rel="stylesheet" type="text/css" href="../css/acceuil.css"/>
    </head>
    <body>
        <div class="masthead">
            <h1><img src="../img/TheLordsTournament.png"/></h1>
            <center>
            <ol class="absolute" class="container">
                <a href="./lobby.html">
                    <button class="buttonstart"></button>
                </a>
                <a href="https://www.chess.com/fr/apprendre-a-jouer-aux-echecs">
                    <button class="buttonregles"></button>
                </a>
                <a href="http://localhost:21000/lien-rapport.html">
                    <button class="buttonrapport"></button>
                </a>
            </ol>

            </center>
            <audio src="../audios/acceuil.mp3" autoplay loop></audio>
        </div>
    </body>
</html>
