<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="titre">rapport</title>
    <link rel="stylesheet" type="text/css" href="../css/acceuil.css"/>
</head>
<body>
<div class="masthead">
    <center>
        <h1>
            <img src="../img/TheLordsTournament.png" border="0">
        </h1>
        <div>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/6PAYfw59DUM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <br>
        <form>
            <button type="submit"
                    formaction="https://yncrea-my.sharepoint.com/:b:/g/personal/nicolas_barrat_isen_yncrea_fr/ETRqMg4JIo5IogVgLcRiQpsBA8MT1N6W3rbsbBlnYBRsyw?e=k57Ucr"
                    class="rapport">
            </button>
        </form>
    </center>

</html>
