<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projet Echec</title>
        <link rel="stylesheet" type="text/css" href="../css/lobby.css" />
        <script type="text/javascript" src="../js/getParam.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>


    <body>
        <div class="masthead">
        <center>
            <h1 id="hello"><img src="../img/bienvenue.png"></h1>
            <BIG id="choix"></BIG>
            <form action="./lobby.html" method="GET">
                Pseudo : <input type="text" name="pseudo" placeholder="Entrer un pseudo" />
            </form>
            <br>

            <form action="./lobby.html" method="GET">

                Couleur : &nbsp;<input type="radio" name="couleur" value="lambda" />Aléatoire 
                    <input type="radio" name="couleur" value="blancs" />Blancs
                    <input type="radio" name="couleur" value="noirs"/>Noirs
                
                
            </form>

            <form action="./lobby.html" method="GET">
        
             <button type="submit"  formaction="" class="bouttonenregistrer">
             </button>
             <button type="submit"  formaction="" class="bouttonenreset"></button>
        
            </form>
             <br>
             <br>
            

            <form action="./plateau.html" method="GET">
                <input id="pseudo" type="hidden" name="pseudo"/>
                <input id="couleur" type="hidden" name="couleur"/>
            </form>
             <br>
            <form action="./lobby.html" method="GET"> 
                Lancer le jeu:
                <button type="submit" formaction="http://localhost:8100/plateau.htm" class="buttonregistered"> </button>
 
            </form>
            <br>
            <br>
            <br>
            <form action="./lobby.html" method="GET">
                Envoyer un message au serveur: <button type="submit" formaction="" class="buttonsend"></button>
            </form>
            <script type="text/javascript" src="../js/client.js"></script>

            </form>
        </center>
        <audio src="../audios/lobby.mp3" autoplay loop></audio>
        </div>
    </body>
</html>


            
        <center>
    </body>
</html>