<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projet Echec</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        <script type="text/javascript" src="../js/getParam.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <center>
            <br /><br /><br /><br /><br /><br /><br />
            <BIG id="hello">Bonjour nouveau joueur</BIG>
            <br />
            <BIG id="choix"></BIG>
            <br /><br />

            <form action="./plateau.html" method="GET">
                Pseudo : <input type="text" name="pseudo" placeholder="Entrer un pseudo"/><br /><br />

                Couleur : <input type="radio" name="couleur" value="lambda"/>Aléatoire<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <input type="radio" name="couleur" value="blancs"/>Blancs<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <input type="radio" name="couleur" value="noirs"/>Noirs<br /><br />
                
                <input type="submit" value="s'enregistrer"/>
            </form>

            <br /><br />

            <form action="./plateau.html" method="GET">
                <input id="pseudo" type="hidden" name="pseudo"/>
                <input id="couleur" type="hidden" name="couleur"/>

                Lancer: <input type="submit" value="start registered"/>
                Lancer le jeu: <a href="http://localhost:8100/plateau.html"><input type="button" name="start" value="start unregistered"/></a>
            </form>

            <br /> <br />
            <input type="button" value="send msg to server" id="clicked"> <!-- Envoi un message avec le pseudo -->
            <a href="http://localhost:8100"><input type="button" name="reset" value="reset"/></a> <br /><br /> <!-- Vide l'URL -->


            <script type="text/javascript" src="../js/client.js"></script>
        <center>
    </body>
</html>