<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Plateau de jeu</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="Pions.js"></script>
    <script src="Echec.js"></script>
    <script src="EchecView.js"></script>
    <script src="Types%20de%20pions/Cavalier.js"></script>
    <script src="Types%20de%20pions/Dame.js"></script>
    <script src="Types%20de%20pions/Pion.js"></script>
    <script src="Types%20de%20pions/Fou.js"></script>
    <script src="Types%20de%20pions/Tour.js"></script>
    <script src="Types%20de%20pions/Roi.js"></script>
</head>
<body>

<h3><span id="joueur">C'est au joueur ?</span></h3>

<div class="masthead">
    <center>
        <div id="mange_blanc">
            <img src="./images/transparent.png" class="mange">
        </div>

        <table id="tab">
        </table>

        <br>
        <div id="mange_noir">
            <img src="./images/transparent.png" class="mange">
        </div>
    </center>
    <br>
</div>

<script type="text/javascript" src="main.js"></script>

</body>
</html>