<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="titre">Plateau de jeu</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../js/Pions.js"></script>
    <script type="text/javascript" src="../js/Joueur.js"></script>
    <script type="text/javascript" src="../js/Echec.js"></script>
    <script type="text/javascript" src="../js/EchecView.js"></script>
    <script type="text/javascript" src="../js/type/Cavalier.js"></script>
    <script type="text/javascript" src="../js/type/Dame.js"></script>
    <script type="text/javascript" src="../js/type/Pion.js"></script>
    <script type="text/javascript" src="../js/type/Fou.js"></script>
    <script type="text/javascript" src="../js/type/Tour.js"></script>
    <script type="text/javascript" src="../js/type/Roi.js"></script>
    <script src="../js/main.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../socket.io/socket.io.js"></script>
    <script src="../js/formulaire.js"></script>
</head>
<body>
<div class="masthead">
    <div class="joueur2"></div>
    <span id="score_noir" class="score">0</span>
      <div id="mange_blanc">
            <img src="../img/transparent.png" class="mange">
        </div>
    <div class="joueur1"></div>  
    <span id="score_blanc" class="score">0</span>
        <div id="mange_noir">
            <img src="../img/transparent.png" class="mange">
        </div>
    <center>
        <h1>
            <img src="../img/TheLordsTournament.png" border="0">
        </h1>
        <h3><span id="joueur">C'est au joueur ?</span></h3>

        <table id="tab">
        </table>


        <br>
        
    </center>
    <br>
    <audio src="../audios/Plateau.mp3" autoplay loop></audio>
</div>
<div>
    <form action="/" method="post" id="formulaire_chat">
        <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus/>
        <input type="submit" id="envoi_message" value="Envoyer"/>
    </form>

    <section id="zone_chat">

    </section>

</div>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../js/formulaire.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

</body>
</html>
