<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title id="titre">Plateau de jeu</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script type="text/javascript" src="../js/Echec.js"></script>
    <script type="text/javascript" src="../js/EchecView.js"></script>
    <script type="text/javascript" src="../js/getParam.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../js/Pions.js"></script>
    <!-- <script type="text/javascript" src="../js/Joueur.js"></script> -->
    <script type="text/javascript" src="../js/type/Cavalier.js"></script>
    <script type="text/javascript" src="../js/type/Dame.js"></script>
    <script type="text/javascript" src="../js/type/Pion.js"></script>
    <script type="text/javascript" src="../js/type/Fou.js"></script>
    <script type="text/javascript" src="../js/type/Tour.js"></script>
    <script type="text/javascript" src="../js/type/Roi.js"></script>
</head>
<body>

<BIG id="couleur"></BIG>
<h3><span id="joueur">C'est au joueur ?</span></h3>

<div class="masthead">
    <center>
        <span id="score_noir" class="score">0</span>

        <div id="mange_blanc">
            <img src="../img/transparent.png" class="mange">
        </div>

        <table id="tab">
        </table>


        <br>
        <span id="score_blanc" class="score">0</span>

        <div id="mange_noir">
            <img src="../img/transparent.png" class="mange">
        </div>
    </center>
    <br>
</div>

<script type="text/javascript" src="../js/main.js"></script>

</body>
</html>