.masthead {
    background: url(../img/Acceuil/acceuil.jpg);
    background-size: 2050px;
    position: fixed;
    top: 0;
    left: 0;
    /* préserve les ratios */
    min-width: 100%;
    min-height: 100%;

}

@font-face {
    font-family: "ringbearer" ;
    src: url(./RINGM.ttf);
}

.buttonstart {
    background-image: url(../img/Acceuil/bouttons/Start.png);
    /* préserve les ratios */
    min-width: 100%;
    min-height: 100%;
    margin-top: 50px;
}

.buttonregles {
    background-image: url(../img/Acceuil/bouttons/Regles.png);
    /* préserve les ratios */
    min-width: 100%;
    min-height: 100%;
    margin-top: 280px;
}

.buttonrapport {
    background-image: url(../img/Acceuil/bouttons/Rapport.png);
    /* préserve les ratios */
    min-width: 100%;
    min-height: 100%;
    margin-top: 510px;

}

.rapport {
    background-image: url(../img/Acceuil/bouttons/Rapport.png);
    background-size: 170px;
    /* préserve les ratios */
    min-width: 100%;
    min-height: 100%;
    margin-left: -80px;
}

h1 {
    text-align: center;
    color: #BB8715;
    font-size: 30px;
    font-family: ringbearer;
    margin-top: 60px;
}

button {
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0); /*transparent*/
    border: white;
    background-size: 300px;
    position: absolute;
    margin-left: 650px;
}