table {
    /*margin-top: 40px;*/
    border-collapse: collapse;
    border: black solid 2px;
    background : url(../img/Plateau/dalle/dalle-blanche.png);
}

/* id des cases */
td {
    border: black solid 2px ;
    display: table-cell;
    width: 70px;
    height: 70px;
    /*padding: 45px;*/
    text-align: center;
}

/* id du titre*/
h3{
    text-align: center;
    color:#FFD700;
    font-size: 30px ;
    font-family: ringbearer;
}

.masthead{
    background: url(../img/Plateau/teste2.jpg);
    background-repeat:no-repeat;
    background-size: 1900px ;
    position: fixed;
    top: 0;
    left: 0;
    /* préserve les ratios */
    min-width: 100%;
    min-height: 100%;
}
.score{
    color:#FFD700;
    font-size: 25px;
    margin-left: 170px;
    margin-top: 380px;
}

.joueur1{
    background-image: url(../img/blason_du_joueur/joueur1.png);
    position: absolute;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin-left: 150px;
    margin-top: 300px;


}
#score_blanc{
    position: absolute;
}
#mange_noir{
    position: absolute;
    margin-left: 50px;
    margin-top: 420px;

}

.joueur2{
    background-image: url(../img/blason_du_joueur/joueur2.png);
    position: absolute;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin-left: 1350px;
    margin-top: 300px;

}
#score_noir{
    position: absolute;
    margin-left:1375px;
}
#mange_blanc{
    position: absolute;
    margin-left: 1200px;
    margin-top: 420px;

}

/* classe pour les pions */
.pions {
    height: 67px;
    width: 67px;
}

/* classes pour les couleurs des cases */
.vert {
    background-color: green;
}

.rouge {
    background-color: red;
}

.orange {
    background-color: orange;
}

.black {
    background : url(../img/Plateau/dalle/dalle-noire.png);

 }

/* classe pour les blasons des personnages */
.blason {
    height: 40px;
    width: 40px;
}

/* classe du bouton reset */
.reset {
    height: 60px;
    width: 60px;
}

/* classe pour les pions mangés*/
.mange {
    height: 40px;
    width: 40px;
}

/* classe pour le score*/
.score-blanc {
    margin-left:300px;

}

#message {
    position: absolute;
    margin-top: 950px;
    
}

#envoi_message {
    position: absolute;
    margin-top: 950px;
    font-size: 50px;
    margin-left: 260px;

}

#zone_chat strong {
    color: black;
    background-color: white;
    padding: 2px;
}
