.masthead{
	background: url(acceuil.jpg);
  background-size: 2050px ;
  position: fixed; 
  top: 0;
  left: 0; 
  /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;

}
@font-face { font-family: "ringbearer" ;src: url(RINGM.ttf);}


 h1{
  	text-align: center;
  	color: #BB8715;
	font-size: 30px ;
	font-family: ringbearer;
	margin-top: 60px;
  }
.buttonstart{
	background-image: url(bouttons/Start.png) ;
  /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;
  margin-top: 80px;
}
.buttonregle{
	background-image: url(bouttons/Regle.png);  
 /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;
  margin-top: 310px;
}
.buttonrapport{
	background-image: url(bouttons/Rapport.png);  
 /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;
  margin-top: 540px;

}
button{
	background-repeat:no-repeat;
	background-color: rgba(255, 255, 255, 0);/*transparent*/
	border: white;
	background-size: 300px;
	position: absolute;
	margin-left: 650px;

}