.masthead{
	background: url(acceuil.jpg);
  background-size: 2050px ;
  position: fixed; 
  top: 0;
  left: 0; 
  /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;

}
@font-face { font-family: "ringbearer" ;src: url(RINGM.ttf);}


 h1{
  	text-align: center;
  	color: #BB8715;
	font-size: 30px ;
	font-family: ringbearer;
	margin-top: 60px;
  }
.button{
	background-image: url(Start.png)  ;
	background-repeat:no-repeat;
	margin-right: 500px;
	
	background-color: rgba(255, 255, 255, 0);/*transparent*/
	border: white;
  /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;
}
button{
	background-size: 200px;
	position: absolute;

}