table {
    border-collapse: collapse;
    border: black solid 2px;
    background-color: #fadd90;
}

td {
    border: black solid 1px ;
    display: table-cell;
    padding: 37px;
    text-align: center;
}

.black {
    background-color: #a76e37;
}