.masthead{
	background: url(Plateau/teste2.jpg);
  background-repeat:no-repeat;
  background-size: 1900px ;
  position: fixed;
  top: 0;
  left: 0; 
  /* préserve les ratios */
  min-width: 100%;
  min-height: 100%;

}
 	

table {
	margin-top: 40px;
    border-collapse: collapse;
    border: black solid 2px;
    background : url(Plateau/dalle/dalle-blanche.png);
}

td {
    border: black solid 2px ;
    display: table-cell;
    padding: 45px;
    text-align: center;
}

.black {
    background : url(Plateau/dalle/dalle-noire.png);

 }
#message{ 
    position: absolute;
 	margin-top:950px;
 	margin-left: 70px;
 }
 #envoi_message{
 	position: absolute;
 	margin-top:950px;
 	font-size: 50px;
 	
 }
 #zone_chat strong {
            color: black;
            background-color: white;
            padding: 2px;
        }
